<div class="head-page">

    <h1>{{titulo}}</h1>
    <a [routerLink]="['/crear-artista']" *ngIf = "identity && identity.rol == 'ROLE_ADMIN'" class="btn btn-default">
        Añadir artista 
    </a>
    <ul class="pagination pull-right">
		<li><a [routerLink]="['/artistas', prev_page]">&laquo;</a></li>
		<li><a [routerLink]="['/artistas', next_page]">&raquo;</a></li>
	</ul>
    </div>

            <div class="clearfix"></div>
                <ul class="artista-list" *ngIf="identity">
                <li *ngFor="let artista of artistas" class=" col-lg-3 artista-item ">
            <div class="artista-imagen">
             <img src="{{ url + 'obtener-imagen-artista/' + artista.imagen }}"/>
          </div>
              <div class="artista-nombre">
      <a [routerLink]="['/artista', artista._id]">
        {{artista.nombre}}
    </a>

    <div class="buttons" *ngIf="identity.rol == 'ROLE_ADMIN'">
        <a [routerLink]="['/editar-artista', artista._id]" class="btn btn-sm btn-warning">Editar</a>
        <a (click)="onDeleteConfirm(artista._id)" class="btn btn-sm btn-danger">
            Borrar
        </a>
    </div>

    <div class="seguro" *ngIf="confirmado == artista._id">
        <a (click)="onDeleteArtista(artista._id)" class="btn btn-sm btn-danger">
            Eliminar
        </a>
        <a (click)="onCancelArtista()" class="btn btn-sm btn-primary">
            Cancelar
        </a>
    </div>
  
              </div>
     </li>

</ul>
