/*GLOBAL*/

html, body{
	margin: 0px;
    height: 100%;
	background: linear-gradient(#eee 40%, #222326 ); 
}


.actived{
	border-bottom: 4px solid #84BD00;
	padding-bottom: 4px;
}

.central{
	height: 100%;
	overflow-y: scroll;
}

.seguro{
	margin-top: -40px;
    background: #222326;
    position: absolute;
    height: 40px;
}

.seguro-album{
	margin-top:-41px;
	margin-left: 10px;
}

.seguro-song{
	right: 10px;
	margin-top: -35px;
	background: #eee;
}

/*BARRA LATERAL*/

.head-title{
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
	display: block;
}

.navigation{
	text-align: center;
	color: white;
	background: #1C1C1F;
	height: 100%;
}

.navigation a{
	color: #ddd;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;
}

.navigation a:hover{
	color: white;
}

.navigation .glyphicon{
	font-size: 25px;
	display: block;
	width: 100%;
}

#user_logged{
	text-decoration: center;
	background: #1C1C1F;
	position: absolute;
	bottom:0px;
	border-top:1px solid #444;
	width: 75%;
}

#user_logged .user-image{
	background: #eee;
	border-radius: 100px;
	height: 57px;
	width: 57px;
	margin: 0px auto;
	margin-top: 15px;
	overflow: hidden;
}

#user_logged .user-image img{
	width: 57px;
}

.btn-logout{
	cursor:pointer;
}

/* DETALLE DE ARTISTA Y ALBUM */

#artista-head-card .image,
#album-head-card .image{
	border-radius: 80px;
	width: 200px;
	height: 200px;
	overflow: hidden;
	float: left;
	margin-right: 30px;
	border-top:1px solid #444;
	
}

#artista-head-card .image img,
#album-head-card .image img
{
	height: 200px;
}


/* ARTISTAS Y ALBUMS */

.artist_image_for_edit img,
.album_image_for_edit img{
	width: 200px;
}

.artista-list,
.album-list{

	margin: 0px;
	padding: 0px;
	margin-top: 30px;
	list-style: none;
	min-height: 400px;
}

.artista-item,
.album-item{
	width: 20%;
	margin: 0px;
	padding: 0px;
	height: 230px;
	border: 1px solid #444;
	margin-left: 20px;
	margin-top: 60px;
	background: #222326;
}

.artista-item .artista-imagen,
.album-item .album-imagen{
	height: 245px;
	width: 100%;
	overflow: hidden;
	background: black;
}

.artista-item .artista-imagen img{
	height: 100%;
   min-width: 100%;
}

.artista-item .artista-nombre,
.album-item .album-nombre{
	color: white;
	padding: 10px;
	background: #222326;
}

.artista-item .artista-name a,
.album-item .album-name a{
	color: white;
}

/*ALBUMS*/

.albums-list{
	margin: 20px;
	padding: 0px;
	margin-top: 30px;
	list-style: none;
	min-height: 1000px;
}

.albums-item .albums-imagen{
	border-radius: 70px;
	width: 180px;
	height: 180px;
	overflow: hidden;
	float: center;
	margin-right: 0px;
}

.albums-imagen{
	margin: 40px; ;
	height: auto;
}

.albums-nombre{
text-align: center;
color: white;
}



/*ALBUM*/

.album-list{
	height: auto;
	margin-bottom: 715px;
}
.album-item .album-imagen{
	height: 188px;
	height: 100%;
    width: 100%;
}

.album-item{
	width: 20%;
	height: 300px;
	margin-bottom: 60px;
	margin-top: 80px;
}

.album-item .album-imagen img{
	height: 100%;
    width: 100%;

}

/*CANCIONES*/
#lista-canciones{
	margin: 0px;
	padding: 0px;
	min-height: 1000px;
	padding-bottom: 200px;
}

.cancion-item{
	list-style: none;
	border-bottom: 2px solid #ccc;
	padding-top: 3px;
}

.cancion-item .titulo{
	padding: 12px;
}

.cancion-item .botones{
	float:right;
}

.cancion-item .btn-success{
	margin-right: 10px;
}

/* PLAYER */

.player{
	background: linear-gradient(#222326); 
	position: fixed;
	width: 90.5%;
	bottom: 0;
	padding: 20px;
	margin-left: -15px;
	border-left: 1px solid #444;
	color: #eee;
}

.player .album-image{
	border-radius: 70px;
	float:left;
	width: 138px;
	height: 105px;
	overflow: hidden;
}

.player .album-image img{
	height: 100%;
}

.player .audio-file{
	width: 85%;
	height: 40px;
	margin-top: 7px;
	margin-left: 10px;
	float: left;
}

.player audio{
	width: 100%;
	height: 40px;
}

